<h2>Terms&Conditions</h2>
<div class="container">
    <div class="rows">
        <h3>Type A Question</h3>
        <div>
            <input type="checkbox">
            <label>1.Reception opens from 7:30am to 10:30pm</label>
        </div>
        <div>
            <input type="checkbox">
            <label>2. Check-out time is by 12:00noon</label>
        </div>
        <div>
            <input type="checkbox">
            <label>3.Smoking is strictly prohibitied in the premises</label>
        </div>
        <div>
            <input type="checkbox">
            <label>4.Food & drinks are NOT allowed in the room</label>
        </div>
        <div>
            <input type="checkbox">
            <label>5.NO outside guests beyond the lounge</label>
        </div>
        <div>
            <input type="checkbox">
            <label>6.Failure to comply with the above T&Cs will result in forfeit of deposit and/or fine as determined by the hostel management</label>
        </div>
        <div>
            <input type="checkbox">
            <label>7.I hereby agree to the terms&conditions stated above and that all information provided by me is true.</label>
        </div>
        <div class="form-group">
        <h3>Name</h3>
        <label>FirstName</label>
    
        <input type="text">
        <label>LastName</label>
        <input type="text" >
       </div>
       <div class=" mt-3">
        <label for="floatinginput">E-mail Address</label>
        <input type="text" id="floatingInput" >
       </div>
       <div class="form-group mt-3">
        <label>Signature</label>
        <textarea placeholder="Type here"></textarea>
       </div>
       <div class="form-group mt-3">
       <h3>Date</h3>
       <input type="text" id="Day">
       <label>/</label>
       <input type="text" id="Month">
       <label>/</label>
       <input type="text" id="Year">
    </div>
       <div class="mt-3">
        <button>Submit</button>
       </div>
       
    </div>

</div>